<div class='login-wrapper'>
  <h2 class='page-title'>Log In</h2>

  <form id='login-form' method='post' action='/login'>
    <h3 class='login-title'>Username</h3>
    <input class='login-input' type="text" name="username">
    <h3 class='login-title'>Password</h3>
    <input class='login-input' type="text" name="password">
    <button class='sub-button' type="submit">SUBMIT</button>
  </form>

</div>
