<div class='log-in'>
  <h3>Log In</h3>
  <form method='post' action='/login'>
    <div>Username</div>
    <input type="text" name="username">
    <div>Password</div>
    <input type="text" name="password">
    <input type="submit">
  </form>
</div>
