<h3>Create a new Blog:</h3>

<form method='post' action="/create_blog">
	<p>Title</p>
	<input type="text" name="title">
	<p>Content</p>
	<textarea name="content"></textarea>
	<input type="submit">
</form>
