<div class='sign-up'>
  <h3>Sign Up</h3>
  <form method='post' action='/signup'>
    <div>Username</div>
    <input type="text" name="username">
    <div>Password</div>
    <input type="text" name="password">
    <div>First Name</div>
    <input type="text" name="firstname">
    <div>Last Name</div>
    <input type="text" name="lastname">
    <div>Birthday</div>
    <input type="text" name="birthday">
    <div>Email</div>
    <input type="text" name="email">
    <input type="submit">
  </form>
</div>
