// Wrapper for editing user information
.edituser-wrapper {
  height: 100%;
  padding: 5.25rem 0;
  background-color: $true-white;
}

#edituser-form {
  text-align: center;
}

#editpass-form {
  text-align: center;
}

.edituser-title {
  margin-bottom: 1rem;
}

// Each input for editing user
.edituser-input {
  height: 2.75rem;
  width: 20rem;
  padding: 0 10px;
  margin-bottom: 1.5rem;
}

.edituser-input:last-of-type {
  margin-bottom: 2.5rem;
}

.login-input:focus {
  outline: none !important;
  border: 1px solid $dark-blue;
  box-shadow: 0 0 10px $dark-blue;
}

#edituser-sub-button {
  margin-bottom: 6rem;
}
